# Flutter
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
flutter_export_environment.sh

# Firebase config
**/google-services.json
**/GoogleService-Info.plist
**/firebase_options.dart
**/lib/core/constants/api_constants.dart

# Android
android/.gradle/
android/captures/
android/key.properties
android/local.properties

# iOS
ios/Pods/
ios/Flutter/Generated.xcconfig
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/

# macOS
macos/Pods/
macos/Runner.xcworkspace/
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
web/.dart_tool/

# Environment files
.env
*.env

# VSCode
.vscode/

# IntelliJ / Android Studio
.idea/
*.iml

# Log files
*.log

# Others
coverage/
