<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463809452923-fs68qlbofvjmrksj12leip45uogvl0oc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463809452923-fs68qlbofvjmrksj12leip45uogvl0oc</string>
	<key>API_KEY</key>
	<string>AIzaSyC6qCzJ89Cj8pWPSLXMYs4QBKF6fhfQ3V8</string>
	<key>GCM_SENDER_ID</key>
	<string>463809452923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vakifbankFinanceApp</string>
	<key>PROJECT_ID</key>
	<string>vakifbank-finance-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vakifbank-finance-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463809452923:ios:4da1a69a9f2d969d9afbde</string>
</dict>
</plist>